@model IEnumerable<BadrBinHomeed_NEW.Models.Social_Media>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Github_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insta_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkedin_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter_Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Github_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insta_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter_Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
