@model BadrBinHomeed_NEW.Models.Experience_Ar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experience Arabic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class="col-sm-2">
            Company Image
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/Images/Experience_Ar/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px" />
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
